<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quem Somos</h2>
                    <h3 class="section-subheading text-muted">Um pouco da história da nossa comunidade.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">O Inicio</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Em 2016 nossos 3 fundadores, Gefy Marcos, Gustavo Bittencourt e Guilherme Coelho tiveram a ideia de iniciar
                                        uma comunidade para fomentar o desenvolvimento em Tubarão, dessa forma nasceu o primeiro evento do code for tuba.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Desafio dos 100</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Em 2017 encaramos o desafio de realizar um evento para mais de 100 inscritos e em 13/05/2017 fizemos o nosso
                                        Code For Tuba - Talks, um evento que contou com 112 inscritos e conseguimos arrecadar 107 quilos de alimentos e 112 litros de leite que foram doados para familias na cidade.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">Retorno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Em 2018 a comunidade teve algumas mudanças na sua organização e vem passando por reformulações,
                                        em setembro de 2018 voltamos com os meetups e começamos a nos formatelecer pra 2019.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img style="background-color: white" class="img-circle img-responsive" src="img/about/4.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Comunidade forte</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Em 2019 voltamos com novidades, novos meetups, nova abordagem e muito mais ainda está por vir!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>