<!-- Clients Aside -->
<aside class="clients">
  <div class="container">
    <div class="row sponsors">
      <div class="col-md-4 col-sm-4">
        <a href="https://coworking.ostec.com.br/" target="_blank">
          <img
            style="height: 80px"
            src="img/logos/ostec.svg"
            class="img-responsive img-centered"
            alt="logo do patrocinador ostec"
          />
        </a>
      </div>
      <div class="col-md-4 col-sm-4">
        <a href="https://www.attornatus.com.br/" target="_blank">
          <img
            style="height: 80px"
            src="img/logos/attornatus.svg"
            class="img-responsive img-centered"
            alt="logo do patrocinador attornatus"
          />
        </a>
      </div>
      <div class="col-md-4 col-sm-4">
        <a href="https://www.supero.com.br/" target="_blank">
          <img
            style="height: 120px"
            src="img/logos/supero.svg"
            class="img-responsive img-centered"
            alt="logo do patrocinador supero"
          />
        </a>
      </div>
    </div>
  </div>
</aside>
