<!-- Clients Aside -->
<aside class="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <a href="https://coworking.ostec.com.br/" target="_blank">
          <img
            style="height: 80px"
            src="img/logos/ostec.svg"
            class="img-responsive img-centered"
            alt=""
          />
        </a>
      </div>
      <div class="col-md-6 col-sm-6">
        <a href="https://www.attornatus.com.br/" target="_blank">
          <img
            style="height: 80px"
            src="img/logos/attornatus.svg"
            class="img-responsive img-centered"
            alt=""
          />
        </a>
      </div>
      <!-- <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/projedata.png" class="img-responsive img-centered" alt="">
                    </a>
                </div> -->
      <!-- <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div> -->
    </div>
  </div>
</aside>
