<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contribuir</h2>
                    <h3 class="section-subheading text-muted">Nossa comunidade precisa de você.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div style="background-color: #4393FF; border-radius: 100%;">
                            <img 
                                src="./img/icons/suggestion.svg"
                                alt="Sugerir tema"
                                srcset=""
                                style="width: 64px; margin-left: 10px;"
                            >
                        </div>
                    </span>
                    <h4 class="service-heading">Sugerir Tema</h4>
                    <p class="text-muted">
                        Estamos sempre buscando temas para abordar nos nossos meetups e pensando você pode nos ajudar
                        sugerindo temas do seu interesse, sobre o que você gostaria de ouvir alguém falar?
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div style="background-color: #4393FF; border-radius: 100%;">
                            <img 
                                src="./img/icons/speaker.svg"
                                alt="Quero palestrar"
                                srcset=""
                                style="width: 64px; margin-left: 10px;"
                            >
                        </div>
                    </span>
                    <h4 class="service-heading">Quero Palestrar</h4>
                    <p class="text-muted">
                        Você está estudando sobre algum tema e gostaria de compartilhar com as pessoas? Já domina um assunto
                        e quer contribuir para o conhecimento de outras pessoas? Aqui é seu lugar!
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div style="background-color: #4393FF; border-radius: 100%;">
                            <img 
                                src="./img/icons/feedback.svg"
                                alt="Feedback"
                                srcset=""
                                style="width: 64px"
                            >
                        </div>
                    </span>
                    <h4 class="service-heading">Feedback</h4>
                    <p class="text-muted">
                        Foi em algum meetup e quer sugerir algo pra melhorar a comunidade? Fique a vontade!
                    </p>
                </div>
            </div>
        </div>
    </section>