.service-img {
  background-color: #{{ site.data.template.color.primary }};
  border-radius: 100%;
}

.contribuir-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-text {
  min-height: 120px;
}

.btn-box {
  width: 270px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 10px 20px;
  margin: 12px 0;
}

.btn-icon {
  width: 48px; 
  margin-right: 10px;
}

.btn-label {
  line-height: 1;
}

@media screen and (max-width: 991px) {
  .service-text + a.btn-xl {
    margin-bottom: 24px;
  }
}

.team-members {
  margin-left: -15px;
  margin-right: -15px;
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-around;
}

#evento table, tr, td, th{
  border: 1px solid black;
}

#evento .conteudo{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
}

#evento .table-eventos {
  border-radius: 12px;
  width: 100%;
}

#evento .palestras{
  display: flex;
  flex-direction: column;
  flex: .7;
}

#evento .informacoes{
  display: flex;
  flex-direction: column;
  flex: .3;
}

.sponsors {
  display: flex;
  align-items: center;
}