.service-img {
  background-color: #{{ site.data.template.color.primary }};
  border-radius: 100%;
}

.contribuir-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-text {
  min-height: 120px;
}

.btn-box {
  width: 270px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 10px 20px;
  margin: 12px 0;
}

.btn-icon {
  width: 48px; 
  margin-right: 10px;
}

.btn-label {
  line-height: 1;
}

@media screen and (max-width: 991px) {
  .service-text + a.btn-xl {
    margin-bottom: 24px;
  }
}
