---
layout: evento
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body id="page-top" class="index">

  {% include header.html %}
  <section>
    <div id="evento" class="container">

      {{page.title}}
      <br>
      {{page.subtitle}}
      <br>
      {{page.description}}
      <br>
      <br>
      <div class="conteudo">
        <div class="palestras">
          <h3>
            <span>Programação / Palestras</span>
          </h3>
          <a href="/">Todos os Eventos</a>
          <div>
            <table>
              <thead>
                <tr>
                  <th>Horario</th>
                  <th>Conteúdo</th>
                </tr>
              </thead>
              <tbody>
                {% for talk in page.talks %}
                <tr>
                  <td style="padding-left: 1%;">
                    <p>{{talk.hora_inicio}}</p>
                    <p>às</p>
                    <p>{{talk.hora_fim}}</p>
                  </td>
                  <td>
                    <span>{{talk.nome}}</span>
                    <br>
                    {% if talk.istalk %}

                    {% for p in talk.palestrantes %}
                    {% if forloop.index < forloop.last %}
                     / <a href="">{{p.nome}}</a>
                    {% else %}
                    <a href="">{{p.nome}}</a>
                    {% endif %}
                    {% endfor %}

                    {% for link in talk.links %}
                    {% if link.icone %}
                    <div style="display: flex; flex-direction: row;">
                      <div>
                        <a href="{{link.link}}">{{link.nome}} </a> -
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="informacoes">
          <div class="data-local">
            <h2>Data e Local</h2>
            <br>
            <p>{{page.project-date}}</p>
            <p>8:30 às 19:00 h</p>
            <p>{{page.client}}</p>
            <p>{{page.endereco}}</p>
            <p><a href="">mais informações sobre data e local</a></p>
          </div>
          <div>
            <h2>Públibo Alvo</h2>
            <p>{{page.publico_alvo}}</p>
          </div>
          <div>
            <h2>Investimento</h2>
            <p> <strong>presencial:</strong> {{page.valor}}</p>
            <p>Fazendo sua inscrição presencial, você terá acesso a esta trilha e no mesmo dia também:
              TDC Expo: Venha conversar com pessoas e conhecer empresas incríveis.
              Trilha Stadium: Você poderá assistir às palestras da trilha Stadium do mesmo dia.</p>
          </div>
          <div>
            <h2>Participe</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include contact.html %}
  {% include footer.html %}
  {% include js.html %}

</body>

</html>